<h1><%= @user.name %>のページ</h1>
<div class="ippan">
  <p>メールアドレス: <%= @user.email %></p>
  
  <p>
    <strong>Image:</strong>
    <%= image_tag @user.image %>
  </p>

  <div class="container">
    <div class="row">
      <% @favorites_blogs.each do |blog| %>
        <div class="col-xs-12 col-md-6 blog-panel">
          <p>タイトル：<%= blog.title %></p>
          <p>内容：<%= blog.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>